<h3>Poll question title</h3>

<form [formGroup]="voteForm"
      (ngSubmit)="submitForm()">
  <ng-container *ngFor="let opt of options; let i = index">
    <div class="form-check">
      <input type="radio"
             formControlName="selected"
             [value]="i"
             class="form-check-input"/>
      <label class="form-check-label">{{opt}}</label>
    </div>
  </ng-container>

  <button type="submit" class="btn btn-secondary mt-3" [disabled]="voteForm.invalid">Submit vote</button>
</form>
