<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#">Blockchain Polls</a>
  <button class="btn btn-secondary" type="button" (click)="showForm = !showForm">Create Poll</button>
</nav>

<section class="jumpotron bg-light text-center">
  <h1>Polls Rethinked</h1>
  <p class="lead text-muted">Powered by Blockchain</p>
</section>

<ng-container *ngIf="showForm">
  <app-poll-create></app-poll-create>
</ng-container>

<div class="d-flex">
  <div class="container poll-list">
    <ng-container *ngFor="let poll of polls">
      <app-poll [question]="poll.question"
                [voted]="poll.voted"
                [votes]="poll.votes">
      </app-poll>
    </ng-container>
  </div>
  <div class="container poll-detail">
    Detail
  </div>
</div>
